body{
  background-color:black;
}

#centre {
  position:absolute;
  left:500px;
  top:200px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color:white;
}

#centreFill {
  position:absolute;
  left:10px;
  top:10px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background-color:black;
}

#centreText {
  position: absolute;
  left: 25px;
  top: 60px;
  color:white;
  font-size: 300%;
  font-family: "Segoe UI", Arial, sans-serif;
}

.circle {
  position:absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color:white;
  color:black;
}

.circle:hover{
  color:white;
}

#icon1{
  left: 418px;
  top:70px;
}

#icon1label{
  position:absolute;
  left:-120px;
  top:-20px;
  font-size:200%;
  font-family: "Segoe UI", Arial, sans-serif;
}

.branch{
  position:absolute;
  background-color:white;
  height:13px;
  
}

#branch1{
  top:175px;
  left: 445px;
  width:120px;
  transform:rotate(60deg);
  -ms-transform:rotate(60deg); /* IE 9 */
  -webkit-transform:rotate(55deg); /* Opera, Chrome, and Safari */
}
